button:hover{
    cursor: pointer;
    opacity: 0.8;
}

button:active{
    transform: scale(0.98);
}

button{
    border: 2px solid var(--color-light);
    border-radius: 0.8rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.button-secondary{
    background-color: var(--color-secondary);
    color: var(--color-dark);
}